/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-img.png');
  background-size: cover;
  height: 100vh;
  margin-top: 10px;
}
@media (max-width: 767px) and (orientation: portrait) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-img.png');
    background-size: cover;
    height: 100vh;
    margin-top: 10px;
  }
}
