/* Write your CSS here */
/* Write your CSS here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}
.image2 {
  display: none;
}
.image1 {
  display: flex;
}
@media (max-width: 767px) and (orientation: portrait) {
  .image1 {
    display: none;
  }
  .image2 {
    display: flex;
  }
}
